/* Remove default bullets */
ul, .parentUl {
	list-style: none;
	padding-inline-start: 0px;
}

/* Remove margins and padding from the parent ul */
.parentUl {
	margin: 0;
	padding: 0;
}

	.parentUl li span:hover {
		border-radius: 10px;
		padding: 2px;
		background-color: black;
		cursor: pointer;
		user-select: none;
	}


	.parentUl li {
		margin-left: 1em;
	}

/* Style the caret/arrow */
.caret {
	user-select: none; /* Prevent text selection */
}

	/* Create the caret/arrow with a unicode, and style it */
	.caret::before {
		content: "\25B6";
		color: #5c2d91;
		display: inline-block;
		margin-right: .25em;
		font-size: 1em;
	}

/* Rotate the caret/arrow icon when clicked on */
.caret-down::before {
	transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
	display: none;
}

/* Show the nested list when the user clicks on the caret/arrow */
.active {
	display: block;
}

.selected {
	background-color: black;
	margin-left: 1em;
	border-radius: 10px;
	padding: 2px;
}

.not-selected {
	margin-left: 1em;
}